/* Big tablets to smaller laptop screens */
@media only screen and (max-width : 1200px) {
	html,
	body {
		font-size: 14px;
	}

	.about-para {
		margin-bottom: 20px;
	}

	.section-heading,
	.testimonial-heading,
	.packages-heading,
	.contact-heading {
		margin-top: 90px;
	}
}

/* Smaller tablets to larger tablet screens */
@media only screen and (max-width : 1023px) {

}

/* larger phones to Smaller tablets screens */
@media only screen and (max-width : 767px) {

}


/* smaller to larger phones */
@media only screen and (max-width : 479px) {

} 